<div id="menu">
    <!-- <a href="https://khongsochay.com/details/vUykNwcyl7tkciYoIiIVng%3D%3D" target="_blank"><img class="banner-qc"
                    src="/assets/bannerxx.png" alt=""></a> -->
    <!-- <app-tradingview></app-tradingview> -->
    <nav class="navbar navbar-expand-lg">
        <div class="container border_menu">
            <a class="navbar-brand" href="/"><img height="40px" src="/assets/khong-so-chay_lg_ngang.png" alt="Không sợ cháy Vàng phái sinh"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="/assets/expanded.png" alt="" height="16px"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link" routerLinkActive="active">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/fundamental" class="nav-link" routerLinkActive="active">Phân tích Cơ bản</a>
                    </li>
                    <li class="nav-item">
                        <a href="/technical" class="nav-link" routerLinkActive="active">Phân tích Kỹ thuật</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sentiment" class="nav-link" routerLinkActive="active">Phân tích Tâm lý</a>
                    </li>
                    <!-- <li class="nav-item">
                                <a class="nav-link" routerLink="/news" routerLinkActive="active">Liên hệ</a>
                            </li> -->
                </ul>
                <!-- <div>
                    <span>{{time_now}}</span>
                </div> -->
            </div>
        </div>
    </nav>
</div>