<div class="container news-content">
    <div class="row g-2">
        <div class="col-lg-8 col-sm-12">
            <div class="p-3 left-content">
                <app-newsfeed></app-newsfeed>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="p-3 right-content">
                <app-newsknowledge></app-newsknowledge>
                <app-newsreview></app-newsreview>
                <app-othernews></app-othernews>
            </div>
        </div>
    </div>
</div>