.article-title {
    /* border-bottom: 1px solid #e9e9e9; */
    display: flex;
    margin-bottom: 10px;
}

.article-title-left {
    width: 70%;
}

.left-title-article {
    font-size: 20px;
    font-weight: bold;
    color: rgb(145, 0, 0);
}

.left-description {
    font-size: 14.4px;
}

.article-content {
    padding-top: 20px;
    border-left: 1px solid #e9e9e9;
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
}

.right-article-content {
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0px;
}

.custom-new-box-dot {
    width: 6px;
    height: 6px;
    background-color: #ff5733;
    border: 3px solid #ff5733;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    left: -3px;
}

.article-time {
    width: 15%;
    padding-left: 20px;
}

.font-size-14 {
    font-size: 14.4px;
    /* text-align: justify; */
}

.article-description {
    width: 85%;
}

.font-size-16 {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

.data-title-newfeeds {
    color: rgb(145, 0, 0);
}

.tag_name {
    font-weight: 300;
    padding-right: 5px;
    margin-right: 5px;
    color: rgb(136, 0, 0);
    font-size: smaller;
}

@media only screen and (max-width: 575.98px) {
    .article-content {
        flex-direction: column !important;
    }
    .tag_name {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .article-description {
        width: 100% !important;
        padding-left: 20px !important;
    }
    .article-time {
        width: 100% !important;
        padding-left: 20px !important;
    }
}

a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

.btn-showmore {
    margin-top: 20px;
    font-size: 14.4px;
    color: rgba(145, 0, 0, 1);
}

.btn-showmore:hover {
    color: rgb(255, 0, 0);
}