@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(237, 242, 249);
    font-weight: 500;
}

h1 {
    font-weight: bold !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}