<div class="container news-content">
    <div class="row g-2">
        <div class="col-lg-8 col-sm-12">
            <div class="p-3 left-content">
                <div class="cl-about-me">
                    <div class="cl-about-me-left">
                        <img width="100%" src="/assets/khong-so-chay-logo.png" alt="">
                    </div>
                    <div class="cl-about-me-right">
                        <h1 class="font-size-20">Không Sợ Cháy</h1>
                        <p class="font-size-14">Phân tích cơ bản & kỹ thuật - Thị trường ngoại hối, phái sinh</p>
                        <p class="font-size-14">Username: khongsochay</p>
                        <p class="font-size-14">Địa chỉ: 99 Trung Kính - Trung Hòa - Cầu Giấy - Hà Nội</p>
                    </div>
                </div>
                <div class="cl-about-me-full">
                    <p class="font-size-14">Không Sợ Cháy - Kinh nghiệm, kiến thức phân tích cơ bản & kỹ thuật thị trường ngoại hối Forex, Vàng phái sinh. Hướng dẫn lập trình robot tự động giao dịch.
                    </p>
                    <img width="100%" src="/assets/khong-so-chay.png" alt="Không sợ cháy">
                    <p class="font-size-14">
                        <a href="mailto:khongsochay@gmail.com">Email: khongsochay@gmail.com</a><br>
                        <a href="https://t.me/khongsochay">Telegram: @khongsochay</a><br>
                        <a href="https://t.me/khongsochaygr">Telegram Group: @khongsochaygr</a><br>
                        <a href="https://www.facebook.com/khongsochay">Facebook:
                            https://www.facebook.com/khongsochay</a><br>
                    </p>
                    <div class="">
                        <p class="font-size-14"><strong>CẢNH BÁO RỦI RO VÀ AN TOÀN VỐN</strong></p>
                        <p class="font-size-14">- Tuyên bố từ chối trách nhiệm: Nội dung Website chỉ mang tính chất tham khảo và không cấu thành lời khuyên đầu tư. Nếu các nhà đầu tư áp dụng theo sẽ tự chịu toàn bộ rủi ro trong giao dịch.</p>
                        <p class="font-size-14">- Tuyệt đối tuân thủ nguyên tắc giao dịch bản thân.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="p-3 right-content">
                <app-newsreview></app-newsreview>
                <app-othernews></app-othernews>
            </div>
        </div>

    </div>
</div>